:root {
    --border-radius: 10px;
    --primary: white;
    --font-color: black;
    --border: 1vh solid #D3D3D3;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#background-effect {
    background: linear-gradient(80deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

#main-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: gold;

}

#pomodoro-timer {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: var(--border-radius);
    
}

#settings {
    border-radius: var(--border-radius);
    background-color: var(--primary);
    color: var(--font-color);
    border: none;
    border-bottom: var(--border);
}

#settings-holder {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 20vw;
}

#close-settings-btn {
    height: 5vh;
    width: 5vw;
    position: absolute;
    top: 1vh;
    right: 1vh;
}

#close-settings-btn:hover {
    cursor: pointer;
}

#settings-holder input {
    width: 100%;
}

#settings-holder select{
    width: 20%;
}

#settings-btn {
    z-index: 99;
    position: fixed;
    top: 2vh;
    right: 2vh;
    height: 3vh;
    width: 3vw;
}

#settings-btn:hover {
    cursor: pointer;
}

#save-settings-btn {
    width: 20%;
}

#task-btn {
    z-index: 99;
    position: fixed;
    top: 2vh;
    left: 2vh;
    height: 5vh;
    width: 5vh;
}

#task-btn:hover {
    cursor: pointer;
}

#task-list {
    display: hidden;
}

#timer {
    font-size: 8rem;
    display: flex;
    justify-content: center;
}

#btn-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 50vw;
    height: 7vh;
}

#btn-holder button {
    height: 5vh;
    width: 12vw;
    border-radius: var(--border-radius);
}

#ctrl-btn-div {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#start-btn {
    height: 3vh;
    width: 10vw;
    border-radius: var(--border-radius);
}

#pause-btn {
    height: 5vh;
}

#pause-btn:hover {
    cursor: pointer;
}

#play-btn {
    height: 5vh;
}

#play-btn:hover {
    cursor: pointer;

}

#end-btn {
    height: 5vh;
}

#end-btn:hover {
    cursor: pointer;
}

#timer-type-title {
    width: 50vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

#task-list {
    border: 1px solid black;
    position: fixed;
    top: 2vh;
    left: 2vh;
    height: 40vh;
    width: 30vw;
    background-color: blue;
}

#add-task-btn {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
}

#close-tasks-btn {
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 2vh;
}

#close-tasks-btn:hover {
    cursor: pointer;
}